* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(../img/bg2.jpg) no-repeat center center fixed;
    background-size: cover;
}

.heading {
    position: relative;
    top: 97px;
    left: 25px;
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
}

.heading:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.forms {
    position: relative;
    top: 250px;
}

.form-group {
    width: 25%;
    position: relative;
    left: 160px;
}

input.transparent-input {
    background-color: transparent !important;
    border: none;
    border-bottom: 2px solid rgb(64, 20, 82);
    font-size: 25px;
    /* width: 16%; */
    font-family: 'Titillium Web', sans-serif;
}

input:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.btn {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.486);
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 2px solid purple;
    border-radius: 18px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: relative;
    left: 250px;
}

.btn:hover,
.btn:active {
    background-color: rgba(128, 19, 128, 0.801);
    color: white;
    border: 2px solid rgba(148, 46, 148, 0.897);
    /* border: none; */
}

.fa-github {
    font-size: 27px;
    position: relative;
    top: 380px;
    left: 300px;
    color: white;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.fa-github:hover {
    color: rgba(255, 255, 255, 0.329);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.fa-twitter {
    font-size: 27px;
    position: relative;
    top: 380px;
    left: 325px;
    color: rgb(52, 119, 243);
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.fa-twitter:hover {
    color: rgba(52, 119, 243, 0.685);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.footer {
    position: relative;
    top: 430px;
    left: 170px;
    color: rgba(255, 255, 255, 0.726);
}

.myprofile {
    color: rgba(255, 255, 255, 0.726);
}

.myprofile:hover {
    color: white;
}

@media (max-width: 991px) {
    body {
        background: url(../img/bg-mobile2.jpg) no-repeat center center fixed;
        background-size: cover;
    }
    .heading {
        height: 61px;
        position: relative;
        top: 34px;
        right: 126px;
        left: 0px;
    }
    .forms {
        text-align: center;
        width: 300px;
        position: relative;
        top: 500px;
        right: 145px;
    }
    .form-group {
        text-align: center;
        width: 90%;
        /* position: relative; */
        /* left: 160px; */
    }
    input.transparent-input {
        color: rgb(163, 72, 151);
        background-color: transparent !important;
        border: none;
        border-bottom: 2px solid rgb(182, 68, 182);
        width: 121%;
        font-size: 25px;
        font-family: 'Titillium Web', sans-serif;
    }
    .btn {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.877);
        background-color: purple;
        background-repeat: no-repeat;
        border: 2px solid rgb(182, 68, 182);
        border-radius: 18px;
        cursor: pointer;
        overflow: hidden;
        outline: none;
        position: relative;
        left: 180px;
    }
    .btn:focus,
    .btn:active {
        background-color: rgba(128, 19, 128, 0.801);
        color: white;
        border: 2px solid rgba(148, 46, 148, 0.897);
        /* border: none; */
    }
    .fa-github {
        font-size: 27px;
        position: relative;
        top: 590px;
        left: 140px;
        color: white;
        border-radius: 50%;
        -webkit-transition: -webkit-transform .8s ease-in-out;
        transition: transform .8s ease-in-out;
    }
    .fa-github:hover {
        color: rgba(255, 255, 255, 0.329);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    .fa-twitter {
        font-size: 27px;
        position: relative;
        top: 590px;
        left: 180px;
        color: rgb(52, 119, 243);
        border-radius: 50%;
        -webkit-transition: -webkit-transform .8s ease-in-out;
        transition: transform .8s ease-in-out;
    }
    .fa-twitter:hover {
        color: rgba(52, 119, 243, 0.685);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    .footer {
        position: relative;
        top: 660px;
        left: 16px;
        color: rgba(255, 255, 255, 0.726);
        padding-bottom: 25px;
    }
    .myprofile {
        color: rgba(255, 255, 255, 0.726);
    }
    .myprofile:hover {
        color: white;
    }
}